package SLAVE_reset_seq_pkg;

	import uvm_pkg::*;
  	`include "uvm_macros.svh"
  	import SLAVE_seq_item_pkg::*;
	class SLAVE_reset_sequence extends uvm_sequence #(SLAVE_seq_item);
	  	`uvm_object_utils(SLAVE_reset_sequence);
		SLAVE_seq_item seq_item;

	  	function new (string name = "SLAVE_reset_sequence");
	    	super.new(name);
	  	endfunction

	  	task body;
		    seq_item = SLAVE_seq_item::type_id::create("seq_item");
		    start_item(seq_item);
		    seq_item.rst_n=0;
		    seq_item.tx_valid=0;
		    seq_item.tx_data=0;
		    seq_item.SS_n=1;
		    seq_item.MOSI=1;
		    finish_item(seq_item);
	  	endtask
	endclass
endpackage 