

package FIFO_transaction_pkg;
	import shared_pkg::*;
	class FIFO_transaction ;
/*.....................signals.............*/
  rand logic [FIFO_WIDTH-1:0] data_in;
  rand logic rst_n;
  rand logic  wr_en, rd_en;
logic [FIFO_WIDTH-1:0] data_out;
logic wr_ack, overflow;
logic full, empty, almostfull, almostempty, underflow;
integer RD_EN_ON_DIST ;
integer WR_EN_ON_DIST;
function   new (  integer RD_EN_ON_DIST=30  ,  integer WR_EN_ON_DIST=70); 
	this.WR_EN_ON_DIST=WR_EN_ON_DIST;
	this.RD_EN_ON_DIST=RD_EN_ON_DIST;
endfunction
constraint assert_rst_often {
 	rst_n dist {1:=99,0:=1};
 } 
 constraint WR_EN {
 	wr_en dist {1:=WR_EN_ON_DIST,0:=100-WR_EN_ON_DIST};
 }
 constraint RD_EN {
 	rd_en dist {1:=RD_EN_ON_DIST,0:=100-RD_EN_ON_DIST};
 }

	endclass
endpackage 